:root{
  
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v21-latin-regular.eot'); 
  src: url('../fonts/rubik-v21-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), 
  url('../fonts/rubik-v21-latin-regular.woff') format('woff'), 
  
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v21-latin-500.eot');
  src: url('../fonts/rubik-v21-latin-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rubik-v21-latin-500.woff2') format('woff2'),
  url('../fonts/rubik-v21-latin-500.woff') format('woff'),
  url('../fonts/rubik-v21-latin-500.ttf') format('truetype'),
  
}

body{
  margin: 0;
  font-family: "Rubik" , sans-serif;
}
.container{
  width: 1140px;
  margin-right:  auto;
  margin-left:  auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* start header */

.header-wrapper{
  padding-top: 60px;
  
}
.header-wrapper__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo-img{
  
}
.header-wrapper__item{
  list-style: none;
  display: flex;
  
}
.header-wrapper__list{
  list-style: none;
  
}
.header-wrapper__list:nth-child(2){
  margin-right: 45px;
  margin-left: 45px;
}
.header-wrapper__link{
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  /* text-align: right; */
  letter-spacing: 1.5px;
  
  color: #242A45;
  
}
.header-wrapper__link:hover{
  color: #FA5959;
  
}

.header-wrapper__bt{
  margin-left: 48px;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  /* text-align: right; */
  letter-spacing: 1.5px;
  color: #FFFFFF;
  
  padding: 12px 32px;
  background: #FA5959;
  border: 2px solid #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
.header-wrapper__bt:hover{
  color: #FA5959;
  background: #FFFFFF;
  border: 2px solid #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}
/* end of header */



.hero{
  background-image: url("../images/top-bg\ .svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: calc(50% + 600px) calc(-100% + 234px);
  /* height: 420px; */
  
}
.hero__wrapper{
  padding: 62px 0 80px 0;
}
.hero__info{
  width: 530px;
  margin-top: 190px;
  
}
.hero__title{
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  
  color: #242A45;
  
}
.hero__desc{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  
}
.hero__links{
  margin-top: 32px;
  
}
.hero__link--chrome{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  
  padding: 10px 24px;
  background: #5267DF;
  border: 2px solid #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}

.hero__link--chrome:hover{
  color: #5267DF;
  
  background: #FFFFFF;
  border: 2px solid #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}

.hero__link--firefox{
  margin-left: 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.75;
  
  padding: 10px 24px;
  background: #F7F7F7;
  border: 2px solid transparent;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}
.hero__link--firefox:hover{
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.75;
  
  background: #FFFFFF;
  border: 2px solid #5B6074;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
/* end hero */



.features{
  
}
.features__box{
  width: 730px;
  margin-right: auto;
  margin-left: auto;
  
}
.features__title{
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  
  color: #242A45;
  
  
}
.features__text{
  margin-right: auto;
  margin-left: auto;
  width: 540px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  
}
.features__list{
  margin-top: 72px;
  /* padding-bottom: 2px; */
  padding-left: 0;
  display: flex;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);
  
}
.features__item--active a{
  padding-bottom: 27px;
  text-align: center;
  list-style: none;
  color: #FA5959;
  
  border-bottom: 4px solid #FA5959;
}
.features__item{
  width: 273px;
  padding-bottom: 27px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  
  text-align: center;
  letter-spacing: 0.533333px;
  
  color: #242A45;
  border-bottom: 4px solid transparent;
  
}
.features__a{
  text-decoration: none;
  color: #242A45;
  border-bottom: 4px solid transparent;
  

}
/* .features__item:hover{
  color: #FA5959;
  
  border-bottom: 4px solid #FA5959;
} */
.wrap{
  padding-top: 80px;
  background-image: url("../images/search-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 550px) calc(-50% + 286px);
  
}
.wrap__wrap-box{
  height: 500px;
  margin-top: 129px;
  margin-left: 675px;
  
}
.wrap__new-title{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  
  color: #242A45;
  
}
.wrap__new-text{
  padding-bottom: 20px;
  width: 440px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  
}
.wrap__link{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  
  padding: 10px 24px;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}
/* end of features */

.download{
  
}
.download__box{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  
}
.download__title{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  
  color: #242A45;
  
}
.download__text{
  margin-right: auto;
  margin-left: auto;
  width: 540px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
}
.download__list{
  margin-left: 80px;
  display: flex; 
}
.download__item{
  margin-top: 50px;
  position: relative;
  padding-top: 181px;
  width: 280px;
  height: 175px;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
  
}
.download__item::before{
  position: absolute;
  content: "";
  background-image: url("../images/chrome.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 10%;
  left: 30%;
  width: 110px;
  height: 110px;
}
.download__item:nth-child(2){
  margin-top: 90px;
  margin-right: 34px;
  margin-left: 34px;
}
.download__item:nth-child(3){
  margin-top: 130px;
  
}

.download__item:nth-child(2)::before{
  position: absolute;
  content: "";
  background-image: url("../images/firefox.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 10%;
  left: 30%;
  width: 110px;
  height: 110px;
  
}
.download__item:nth-child(3)::before{
  position: absolute;
  content: "";
  background-image: url("../images/opera.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 10%;
  left: 30%;
  width: 110px;
  height: 110px;
  
}
.download__new-title{
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: center;
  
  color: #242A45;
  
}
.download__new-text{
  margin-bottom: 60px;
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  
}
.download__new-text::after{
  position: absolute;
  z-index: 2;
  content: "";
  background-image: url("../images/line.svg");
  background-repeat: no-repeat;
  background-position: center;
  bottom: -30px;
  left: 0;
  width: 280px;
  height: 5px;
  
}
.download__link{
  margin-left: 29px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  padding: 10px 35px; 
  background: #5267DF;
  border: 2px solid #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}
.download__link:hover{
  color: #5267DF;
  
  background: #FFFFFF;
  border: 2px solid #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
/* end download */


.form{
  padding-top: 100px;
  
}
.form__box{
  margin-right: auto;
  margin-left: auto;
  
}
.form__title{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.1px;
  
  color: #242A45;
  
}
.form__text{
  margin-right: auto;
  margin-left: auto;
  width: 520px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  
}

.form__sum-box{
  
}
.form__list{
  margin-top: 56px;
  
}
.form__item{
  margin-right: auto;
  margin-left: auto;
  width: 540px;
  list-style: none;
  padding-top: 19px;
  padding-bottom: 19px;
  border-top: 1px solid rgb(0, 0, 0, 0.15);
  
}
.form__item:last-child{
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  
}
.form__detail{
  
}
.form__sum{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* text-align: center; */
  
  color: #242A45;
  
}
.form__detail[open] .arrow{
  transform: rotate(180deg);
  color: #FA5959;
}

.arrow{
  color: #5267DF;
  transition: 0.3s;
}

.form__sum:hover{
  color: #FA5959;
}


.form__sum-text{
  margin-right: auto;
  margin-left: auto;
  width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.75;
  
}

.form__link{
  display: block;
  margin: 0 auto;
  margin-top: 54px;
  width: 63px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  
  padding: 10px 24px;
  color: #FFFFFF;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
}
/* end form */



.blue{
  padding-bottom: 52px;
  background: #5267DF;
  
}
.blue__text{
  margin-top: 100px;
  padding-top: 58px;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  
  color: #FFFFFF;
  
}
.blue__title{
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 408px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.1px;
  
  color: #FFFFFF;
  
}
.blue__form{
  margin-top: 36px;
  margin-left: 340px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  
  
  
}
.blue__label{
  width: 318px;
  /* height: 100px; */
  background-color: #FA5959;
  margin-right: 16px;
  border-radius: 5px;
  
  
}
.blue__input{
  padding: 10px 113px 10px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  
  /* color: rgba(36, 42, 69, 0.250109); */
  color: #242A45;
  border-radius: 5px;
  border: 2px solid transparent;
  
}
.blue__input-text{
  display: none;
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.25px;
  padding: 4px 89px 8px 12px;
  color: #FFFFFF;
  background-color: #FA5959;
  border-radius: 0 0 5px 5px;
  
}

.blue__input:not(:placeholder-shown):not(:focus):invalid ~ .blue__input-text{
  display: block;
}
.blue__input:not(:placeholder-shown):not(:focus):invalid{
  border: 2px solid #FA5959;
}
.blue__input:not(:placeholder-shown):not(:focus):invalid{
  background-image: url("../images/error-disc.png");
  background-repeat: no-repeat;
  background-position: 280px 15px;
}



.blue__btn{
  margin-left: 16px;
  padding: 10px 30px 11px 30px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  
  background: #FA5959;
  border: 2px solid transparent;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}
.blue__btn:hover{
  color: #FA5959;
  
  background: #FFFFFF;
  border: 2px solid #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}
/* end blue section */


.noname{
  padding-top: 80px;
  background-image: url("../images/search-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 550px) calc(-50% + 286px);
  
  
}
.noname__box{
  width: 730px;
  margin-right: auto;
  margin-left: auto;
}


.noname__wrap{
  
}
.noname__wrap-box{
  height: 500px;
  margin-top: 129px;
  margin-left: 675px;
  
}
.noname__new-title{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  
  color: #242A45;
  
}
.noname__new-text{
  padding-bottom: 20px;
  width: 440px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  
}
.noname__link{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  
  padding: 10px 24px;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}

/* end noname section */


.hidden{
  padding-top: 80px;
  background-image: url("../images/network.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 550px) calc(-50% + 286px);

}

.hidden__box{
  width: 730px;
  margin-right: auto;
  margin-left: auto;
}

.hidden__wrap{
  
}
.hidden__wrap-box{
  height: 500px;
  margin-top: 129px;
  margin-left: 675px;
  
}
.hidden__new-title{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
  
  color: #242A45;
  
}
.hidden__new-text{
  padding-bottom: 20px;
  width: 440px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  
  mix-blend-mode: normal;
  opacity: 0.5;
  
}
.hidden__link{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  
  padding: 10px 24px;
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  
}

/* end hidden section */











.end{
  background: #242A45;
  
}
.end__wrapper{
  padding-top: 38px;
  padding-bottom: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.end__img-link{
  
}
.end__item{
  display: flex;
  margin-right: 500px;
}
.end__list{
  list-style: none;
  
}
.end__list:nth-child(2){
  margin-right: 45px;
  margin-left: 45px;
}
.end__link{
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 1.5px;
  
  color: #FFFFFF;
}
.end__link:hover{
  color: #FA5959;
}
.end__social-wrap{
  display: flex;
  align-items: center;
  
}
.end__social-link{
  padding-right: 40px;
  color: #FFFFFF;
  
}
.end__social-img:hover{
  color: #FA5959;
}


